# NestJS API Server Port
PORT=3000

# Client Allowed Origin (CORS)
CLIENT_ORIGIN=http://localhost:4200

# SMTP Configuration (for sending emails)
# Set these variables to enable real email sending via nodemailer.
# If SMTP_USER and SMTP_PASS are omitted, the application will fallback to mock-mode,
# printing the email content to the backend terminal log.
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
